###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/var/
/vendor/
###< symfony/framework-bundle ###

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar

/ssl/